/* Acitivy show page
--------------------------------------------------------------------------------------- */
.attenders{
    padding-left: 10px;
    width: 220px;
}
.attenders p{
	font-size:15px;
	margin-bottom:10px;
}
.attenders .list{
	overflow:hidden;
	margin-bottom:10px;
}
.attenders .all-list{
	height:auto;
}
.attenders .list a{
	display:block;
	float:left;
	margin:2px;
}
.attenders .all-list a{
	margin-top:10px;
}
/* attender page */
.attenderpage .attenders{
	float:none;
	padding:0;
	width:auto;
}
.attenderpage .attenders .list .list-item{
	margin:10px;
	float:left;
	height:65px;
}
.attenderpage .attenders .list .list-item a{
	display:inline-block;
	text-decoration: none;
}

.button-area{
	float:right;
}

textarea{resize:vertical;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;}
textarea:hover{outline:none;border:1px solid #999;cursor:text!important;}
textarea:focus{border-color:#56b4ef;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);}
.twitter-anywhere-tweet-box-editor{color:#AAA;height:19px;min-height:19px;overflow:hidden;}
.twitter-anywhere-tweet-box-editor {
padding: 6px 8px 5px;
width: 482px;
height: 56px;
color: #222;
font-size: 13px;
line-height: 18px;
outline: none;
overflow-x: hidden;
overflow-y: auto;
white-space: pre-wrap;
word-wrap: break-word;
}

/* comments */
.comments, .comments a {
    color: #221919 !important;
}
.comments .comment {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D1CDCD;
    border-style: solid;
    border-width: 0px 0 0;
    padding: 15px 30px;
}
.comments .comment p {
    width: auto;
}
